<header class="masthead" style="background-image: url('http://www.blog-in-lyon.fr/wp-content/uploads/2016/08/Img-%C3%A0-la-une-1.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Blog in Lyon</h1>
              <span class="subheading">Visites, Culture, Interviews, ...</span>
            </div>
          </div>
        </div>
      </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @articles.each do |article| %>
      <div class="post-preview">
        <a href="articles/<%=article.id%>">
          <h2 class="post-title">
            <%= article.title %>
          </h2>
          <h3 class="post-subtitle">
            <%= article.resume %>
          </h3>
        </a>
      </div>
      <hr>
      <%end%>
    </div>
  </div>
</div>
